<div class="row">
    <div class="col-xs-12">
        <div class="col-lg-12 col-lg-offset-0 well">

            <h4><%= reply.content %></h4>
            <%= time_ago_in_words(reply.created_at) %> ago
            <br> 
        </div>
    </div>
</div>                                   
           
