<div class="row">
    <div class="col-xs-12">
        <div class="col-lg-6 col-lg-offset-3 well">                     

            <%= render 'form', faq: @faq %>

            <%= link_to 'Back', faqs_path %>
        </div>
    </div>
</div>
