<div class="row">
    <div class="col-xs-12">
        <div class="col-lg-6 col-lg-offset-3 well">

            <center>
                <h3> Search Results </h3>
            </center>
              
            
            <br>
            <div id="user-<%= user.id %>" class="row">
            <div class="col-lg-8">
                <%= render 'shared/avatar', user: user %>
                <h5 class="name"><%= link_to user.name, user %></h5>
            </div>
            <div class="col-lg-4">
                <div class="follow">
                <%= render 'follows/form', user: user %>
                </div>
            </div>
            </div>
            <br>

        </div>
    </div>
</div>
          
        

