<p id="notice"><%= notice %></p>


<h1>Frequently Asked Questions</h1>

<h1><%= link_to 'Ask A Question', new_faq_path %></h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faqs.each do |faq| %>
      <tr>
        <td><%= faq.description %></td>
        <td><%= link_to 'Show', faq %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>


                          
<br>


