    <style>
        body {
            background: linear-gradient( 
                rgba(0,0,0, 0.4),
                rgba(0,0,0, 0.4)
                ), url("/star.jpg") no-repeat center center fixed
            
            
        }
        h3 {
            color: purple;
            font-weight: bold;
        }

        
        
        h5 {
          color: black;
            
        }
        h6 {
          color: blue;
            
        }
        td{
          color: white;
            
        }
      
     
    </style>
    
  <div class="row">     
            <div class="col-lg-3">
                <%= render "devise/sessions/form" %> <br>   
                <p style="color:white;font-weight: bold;">
                  New to Vayt? Register Below:
                </p>
                  <%= render "devise/registrations/form" %>
  </div>
  <br>
  <div class="col-lg-8 col-lg-offset-0 well"> 
              <center>
                <h3> About Vayt </h3>
              </center>
              <div class="col-lg-8 col-lg-offset-1">
                    <h5>Vayt is a social media directory where people can unleash their creativity </h5>
              </div>
              <div class="col-lg-8 col-lg-offset-2">
                    <h5> and connects with like minded people that shares the same</h5> 
              </div>
              <div class="col-lg-9 col-lg-offset-3">
                <h5> goals, interests and passions</h5>
              </div>
              
                 <br> <br><br><br><br><br><br>

                  <center><p style="background-color:purple;color:white;font-weight: bold;">
                     Founder & CEO: Brima Manso Bangura </p>
                  </center>


                  <div class="col-lg-8 col-lg-offset-3">
                    a Brima Manso Bangura production
                  </div>
                  <div class="col-lg-8 col-lg-offset-4">
                    Vayt (c) 2018
                  </div>                   
  </div>
    








