<style>
    body {
            background: linear-gradient( 
                rgba(0,0,0, 0.4),
                rgba(0,0,0, 0.4)
                ), url("/star.jpg") no-repeat center center fixed
    }
        h3 {
            color: purple;
            font-weight: bold;
        }  
        
        h4 {
          color: purple;           
        }
        h6 {
          color: blue;            
        }
        td{
          color: white;           
        }
</style>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
        <center>
                <h3>Terms and Conditions</h3>
                <hr>
        </center>


        <center>
            <p style="color:purple;font-weight: bold;">
                        Last updated: This Terms and Conditions was last updated on March 2018
            </p> <hr>
        </center>

        <p>Kindly read these Terms and Conditions carefully before using Vayt. </p>

       <p> Your access to and use of the Service is conditioned on your acceptance of and agreement 
            with the Terms and  <%= link_to 'Privacy Policy', privacy_path %>.
            These Terms and policies applies to all users who use the site. 

            If by any chance you disagree with any portion of the terms then you may not use our site. 
        </p>                

        <p>For the purpose of this terms, “Site” refers to the Company’s website, “we,”, “us,” and “our”
        refer to the Company. “You” refers to you, as a user of our Site. </p>
        <hr>

        <p style="color:purple;font-weight: bold;">Notice </p>
        <p>Please not that there are no Private settings for you to control the users who sees your contents or bio. 
        Your content will for now be public for all users to see. When you post content or information using this site, 
        it means that you are permitting every user to see your profile (i.e., your name, profile picture, cover, your 
        activities and your bio.) </p>
        <hr>
        <p style="color:purple;font-weight: bold;">Content </p>

        <p>Our Site allow users to post Contents on their Status Update, Like and Comment on a post.</p>
        <hr>
        <h4> All users <b>must</b> abide by these rules</h4>
            <p>i) Respect other user's content by not posting/commenting abusive contents/speech that a user might found offended</p>
            <p>ii. You will not post spam contents on Vayt.</p>
            <p>iii. You will not post viruses or any type of code.</p>
            <p>iv. You will not post content that a user might find hateful or  intimidating </p>
        <b>ANY USER WHO TRIES TO GO AGAINST THESE RULES WILL BE TERMINATED FROM USING THIS SITE</b>
        

      


            <hr>
        <p style="color:purple;font-weight: bold;"> Links To Other Web Sites </p>

        <p>Be mindful that users might post links to third-party web sites or services that are not owned or 
        controlled by Vayt. </p>

        <p>Vayt has no control over, and accepts no responsibility for, the content, privacy policies, or practices 
            of any third party web sites or services. You therefore accept that our site shall not be held responsible directly
         or indirectly for any third-party website that might be posted in our site. </P>

        <p style="color:purple;font-weight: bold;"> Changes </p>

        <p>We reserves the right to change this policy and our Terms of Service at any time. 
        You should periodically check the Site and this terms and condition page for updates or significant changes.</p>

        <p style="color:purple;font-weight: bold;"> Contact Us </p>

        <p>If you have any questions about these Terms, please contact us.</p>
    </div>
</div>
